.banner {
  background-image: url(../images/banner-8.png);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include pad {
    background-position: 15%;
  }

  h1 {
    background-image: url(../images/logo-2.png);
    width: 200px;
    height: 103px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0 auto;
  }

  h3 {
    letter-spacing: 2.5rem;
    line-height: 2.5;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
  }
}

.environment {
  padding: 10rem;

  @include pad {
    padding: 3rem 0;
  }

  .container {
    max-width: 50%;

    @include pad {
      max-width: unset;
    }
  }
}

.feature {
  padding-top: 5rem;
  padding-bottom: 30rem;
}

.season {
  min-height: 800px;
  height: 100%;
  background-image: url(../images/package.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  padding-top: 10rem;

  .season-layer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  h2 {
    padding-top: 15rem;
  }
}