.product {
    h1 {
        padding-top: 15rem;
    }
}

.product-circle::before {
    content: "";
    width: 24px;
    height: 24px;
    background: #F5EDE0;
    position: absolute;
    border-radius: 50%;
}

.product-circle-left::before {
    content: "";
    width: 24px;
    height: 24px;
    background: #F5EDE0;
    position: absolute;
    border-radius: 50%;
    margin-left: 2rem;
}

.product-text-left {
    margin-left: 4rem;
}

.product-info {
    margin-bottom: 30rem;
}

.product-know {
    margin-bottom: -20rem;

    @include pad {
        margin-bottom: unset;
    }
}