<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <!-- aos -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- customized -->
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>



  

  <%- contents %>

    <footer>
      <div data-aos="fade-up" data-aos-duration="2000" class="footer img-responsive text-white">
        <div class="container">
          <div class="row justify-content-between pb-4">
            <div class="col-md-4 text-md-end text-center">
              <img src="./assets/images/logo-2.png" alt="logo" class="img-responsive">
            </div>
            <div class="col-md-8 text-md-end text-center">
              <ul class="my-3 d-flex justify-content-md-end justify-content-center">
                <li class="list-unstyled ms-3">
                  <a href="#">
                    <img src="./assets/images/footer-ig-2.png" alt="ig">
                  </a>
                </li>
                <li class="list-unstyled ms-3">
                  <a href="#">
                    <img src="./assets/images/footer-shopee-2.png" alt="shopee">
                  </a>
                </li>
              </ul>
              <div class="mb-3">
                <span>電話</span>&nbsp;
                <span>0941862597</span>
              </div>
              <div class="mb-3">
                <span>E-mail</span>&nbsp;
                <span>goodlove@gmail.com</span>
              </div>
              <div class="mb-3">
                <span>營業時間</span>&nbsp;
                <span>週一至週五 08:30~17:30</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="bg-tertiary-1 text-white text-center m-0 py-3">Copyright © 2022 人情是菇. All rights reserved.</p>

    </footer>










    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/deb7cdead9.js" crossorigin="anonymous"></script>
    <!-- aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- jQuery.js v1.11.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "linear", "swing" or "easeInOutCubic". -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/vendors/jquery.easings.min.js"></script>

    <!-- This following line is only necessary in the case of using the option `scrollOverflow:true` -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/vendors/scrolloverflow.min.js"></script>

    <!-- fullPage.js v2.9.5 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.js"></script>

    <!-- customized -->
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script>
      //fullpage
      $("#example").fullpage({

      });
    </script>
</body>

</html>