body {
    font-family: 'Noto Sans TC', sans-serif !important;
    line-height: 1.5;
    overflow-x: hidden;
}

.noto-sans {
    font-family: 'Noto Sans TC', sans-serif;
}

.noto-serif {
    font-family: 'Noto Serif TC', serif;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

a,
a:active {
    text-decoration: none !important;
}

a img:hover {
    opacity: 0.8;
}

.list-content {
    position: relative;

    .list-circle::before {
        content: "";
        width: 36px;
        height: 36px;
        background: #F5EDE0;
        position: absolute;
        border-radius: 50%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-left: 3rem;
        line-height: 36px;
    }
}

@include pad {
    padding-top: 3rem;
    padding-bottom: 15rem;
}


